ul{
    padding-right: 60px;
}

li{
    padding-right: 30px;
    color: white;
}

.search{
    padding-right: 20px;
}

.libery a{
    padding-left: 50px;
}

nav{
    height: 100px;
    background-color: rgb(39, 37, 37);
}

input[type=text]{
    padding: 13px;
    border-radius: 30px;
    width: 450px;
    border: none;
    background-color: rgb(75, 71, 71);
    padding-left: 20px;
    font-size: 13px;
}

/* i{
    color: yellow;
    position: absolute;
} */

/* .con{
    padding-top: 100px;
    display: flex;
}

.con p{
    color: white;
} */

.head img{
    width: 400px;
    height: 550px;
}

.head{
    margin: 20px auto;
    margin-left: 40px;
}

.main{
    display: flex;
}

.top{
    display: flex;
    background-color: rgb(193, 197, 0);
}

.cam{
    background-color: yellow;
    margin: 30px auto;
}
.body{
    background-color: rgb(193, 197, 0);
    padding: 20px;
}

.des{
    padding-top: 40px;
    background-color: rgb(242, 238, 47);
    width: 1000px;
}
.content{
    display: flex;
    justify-content: center;
}

.content img{
    width: 310px;
    height: 310px;
    padding: 13px;
}
.brands{
    display: flex;
    justify-content: center;
}

.brands img{
    /* padding-left: px; */
    padding: 20px;
    padding-right: 70px;
    width: 200px;
    height: 100px;
}

.brand{
    background-color: aliceblue;
    height: 350px;
    width: 1630px;
    margin: 40px; 
}
.brand p{
    padding-top: 15px;
    font-weight: bolder;
}
.brand button{
    border: none;
    color: rgb(165, 165, 60);
    background-color: rgb(39, 37, 37);
    padding: 7px;
    border-radius: 10px;  
    margin-top: 30px;
}
.view{
    text-align: center;
}
.spec p{
    padding-left: 40px;
    font-weight: bolder;
    font-size: 17px;
}
.featured p{
    padding-left: 40px;
    font-weight: bolder;
    font-size: 17px;
}

.feat{
    display: flex;
    justify-content: center;
}

.shop{
    background-color: aliceblue;
    height: 450px;
    width: 400px;
    margin: 20px;
}
.shop img{
    height: 250px;
    width: 300px;
    margin: 50px 50px 0px 50px;

}
.shop button{
    border: none;
    color: rgb(165, 165, 60);
    background-color: rgb(39, 37, 37);
    border-radius: 10px;  
    padding: 7px 30px 7px 30px;
    float: right;
}
.related{
    border: 1px solid black;
    width: 1800px;
    height: 600px;
}
.row{
    border: 1px solid black;
    height: 300px;
}
.col-lg-6{
    border: 1px solid black;
    width:800px;
    height:290px;
    padding-right: 10px;
    background-color: rgb(193, 197, 0);
}

.man {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Header{
      margin-top: 20px;
      background-color: rgb(177, 176, 176);
  }
  
  .footer{
    background-color: rgb(52, 51, 51);
    padding-bottom: 350px;
}